.card-width {
    max-width: 18rem;
}

.carousel-image-one {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.carousel-image-two {
    object-fit: cover;
    height: 400px;
}

.card-position-image {
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
}