// Special Font
$font-title: 'Montserrat', sans-serif;

// Colors
$primary-color: #213e5a;
$secondary-color: #f8b73b;
$tertiary-color: #e8e2e2;
$light-color: #f5f5dc;
$dark-color: #413543;
//VERDINHO#90AB9B CINZA#7B78772
